<html>
    <head>
        <title>Stock Ease</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="banner">
          <div class="navbar">
              <img src="logo.png" class="logo">
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#about">About-us</a></li>
                  <li><a href="#a">Services</a></li>
                  <li><a href="#c">contact-us</a></li>
              </ul>
          </div>  
          <div class="content">
              <h1 class="header" style="color: #ddda1ac9;">STOCK EASE</h1>
              <p class="sub-content">WELCOME TO STOCK EASE<br><br>A faster and easier way of managing the stocks</p>
              <div>
                  <a class="btn btn-primary" href="register" role="button"><button id="register"type="button"><span></span>Register</button></a>
                  <a class="btn btn-primary" href="login" role="button"><button id="login" type="button"><span></span>Login</button></a>

              </div>
          </div>
        </div>
        <div id="about" class="about">
            <h1>
                ABOUT US
            </h1>
            <p>The main goal of our application is to ensure the accuracy of the availability and the storage location of the product
                <br>so that it can be easier to access and to check for availability for customers.
                <br>Thus, this system is directed towards owners of small to large stores and stock managers
                <br>who are responsible of maintaining sufficient goods in a retail or manufacturing business.
                <br>Our intention is to reduce the amount of time it takes to update a database manually.
            </p>
        </div>
        <div id="a" class="available">
            <h1>SERVICES</h1>
            <p>Our approach is proven to reduce costs, <br>improve customer service and deliver measurable efficiency gains. <br>We will carry out a full review of your requirements and then design and deliver the optimum warehouse solution for your business. </p>
        </div>
         
<div id="c" class="contact">
    <h1>
        Contact Information
    </h1>
    <p1>
        Contact Number<br>
    </p1>
    <p2 style="right: 25px;">
        9113616679<br>
    </p2>
    <p3>
        <br>Location<br>
    </p3>
    <p4>
        MITE Moodbidri,Badaga Mijar.<br>
    </p4>
    <p5>
        <br>Suggestions<br>
    </p5>
    <p6>
        <br><input type="text" class="form control bg-light" placeholder="First name"><br>
    </p6>
    <p7>
        <br><input type="text" class="form control bg-light" placeholder="Last Name"><br>
    </p7>
    <p8>
        <br><textarea name="" class="form-control bg-light" placeholder="Message" id="" cols="100" rows="10"></textarea>
    </p8>
    <button class="btn0"><span></span>SUBMIT</button>
</div>
    </body>
</html>
