<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="homeadmin.css">
    <title>Admin: Stock-Ease</title>
</head>
<body>
    <header>
        <h3 id="btnNav">
            Stock-Ease
        </h3>
    </header>
    <nav class="nav">
        <div class="nav__links">
            <a href="logsadmin" class="nav__link nav__link--active">
                <i class="material-icons">description</i>
                Logs
            </a>
            <a  class="nav__link" href="padmin">
                <i class="material-icons">inventory</i>
                Product
            </a>
            <a href="madmin" class="nav__link">
                <i class="material-icons">people</i>
                Manager
            </a>
            <a href="sadmin" class="nav__link">
                <i class="material-icons">drafts</i>
                Suggestions
            </a>
            <a href="mainadmin" class="nav__link">
                <i class="material-icons">person</i>
                Profile
            </a>
        </div>
        <div class="nav__overlay"></div>
    </nav>
</body>
</html>