<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="managerlogin.css">
    <title>Manager</title>
</head>
<body>
    <header>
        <h3 id="btnNav">
            STOCK EASE
        </h3>
    </header>
    <nav class="nav">
        <div class="nav__links">
            <a href="logsadmin" class="nav__link">
                <i class="material-icons">description</i>
                Logs
            </a>
            <a href="mwarehouse" class="nav__link">
                <i class="material-icons">warehouse</i>
                Warehouse
            </a>
            <a  class="nav__link nav__link--active" href="mrestock">
                <i class="material-icons">add_business</i>
                Restock
            </a>
            <a href="mshipment" class="nav__link">
                <i class="material-icons">shopping_cart</i>
                Shipment
            </a>
            <a href="mproducts" class="nav__link">
                <i class="material-icons">inventory</i>
                Product
            </a>
            <a href="mainmanager" class="nav__link">
                <i class="material-icons">account_circle</i>
                Profile
            </a>
        </div>
        <div class="nav__overlay"></div>
    </nav>
</body>
</html>