<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="homeadmin.css">
    <title>Admin: Stock-Ease</title>
</head>
<body>
    <header>
        <h3 id="btnNav">
           STOCK EASE
        </h3>
    </header>
    <nav class="nav">
        <div class="nav__links">
            <a href="logsadmin" class="nav__link">
                <i class="material-icons">description</i>
                Logs
            </a>
            <a  class="nav__link nav__link--active" href="padmin">
                <i class="material-icons">inventory</i>
                Product
            </a>
            <a href="madmin" class="nav__link">
                <i class="material-icons">people</i>
                Manager
            </a>
            <a href="sadmin" class="nav__link">
                <i class="material-icons">drafts</i>
                Suggestions
            </a>
            <a href="mainadmin" class="nav__link">
                <i class="material-icons">person</i>
                Profile
            </a>
        </div>
        <div class="nav__overlay"></div>
    </nav>
    <!-- from here------------------------------------------------- -->
    <div class="productadmin">
        <h1>PRODUCT INFORMATION</h1>
        <!-- <div class="ptable"> -->
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
                
               #producttable{
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
               } 
               #producttable td, #producttable th{
                border: 1px solid #ddd;
                padding: 8px;
                font-family: 'Libre Baskerville', serif;
                font-size: 16px;
               }
               #producttable tr:nth-child(even){background-color: #ffffff;}
               #producttable tr:hover {background-color: #ddd;}
               #producttable th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #25644e;
                color: white;
               }
            </style>
            <table id="producttable">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Name</th>
                        <th>Product Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(rlength > 0) { %>
                    <% results.forEach((results, index) => { %>
                    <tr>
                        <td><%= results.id %></td>
                        <td><%= results.name %></td>
                        <td><%= results.type %></td>
                        <td><button class="remove"><span></span>REMOVE</button></td>
                    </tr>
                    <% }) %>
                    <%} else {%>
                        <td>No Products present</td>
                    <% } %>
                </tbody>
            </table>
            <button class="add"><span></span>ADD PRODUCT</button>
        <!-- </div> -->
    </div>
    <!-- til here____------------------------------------------------ -->
</body>
</html>