<!DOCTYPE html>
<html>
<head>
    <title>Register: Stock-Ease</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="register.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="D:\Stock-Ease\mamilone\logo.png" type="image">
</head>
<body>
    <div class="row">
        <div class="col-md-6 mx-auto p-0">
            <div class="card">
                <div class="manager-box">
                    <div class="logo"></div>
                    <div class="login-snip">
                        <input id="tab-1" type="radio" name="tab" class="manager" onclick="man()" checked><label for="tab-1" class="tab">Manager</label> 
                        <input id="tab-2" type="radio" name="tab" class="Admin" onclick="adm()"><label for="tab-2" class="tab">Admin</label>
                        <div class="user-login-space">
                            <div class="user-login">
                                <form action="cmanager" method="post">
                                    <% if (registerMSG != '') { %>
                                        <p class="text-center text-danger"><%= registerMSG %></p>
                                    <% } %>
                                <div class="group"> <label for="user" class="label">Name</label> <input id="user" type="text" class="input" name="mname" placeholder="Enter your Name"> </div>
                                <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" name="muname" placeholder="Enter a Username"> </div>
                                <div class="group"> <label for="pass" class="label">Email Address</label> <input id="pass" type="email" class="input" name="memail" placeholder="e.g. john@email.com"> </div>
                                <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" name="mpass" placeholder="Type your password"> </div>
                                <div class="group"> <label for="pass" class="label">Repeat Password</label> <input id="pass" type="password" class="input" data-type="password" name="mrpass" placeholder="Repeat your password"> </div>
                                <div class="group"> <label for="user" class="label">Warehouse-ID</label> <input id="user" type="number" class="input" name="mwid" placeholder="Assigned Warehouse-ID"> </div>
                                <div class="group"> <button type="submit" class="button1 button">Sign Up</button></div>
                                </form>
                            </div>
                            <div class="admin-login">
                                <form action="cadmin" method="POST">
                                    <% if (registerMSG != '') { %>
                                        <p class="text-center text-danger"><%= registerMSG %></p>
                                    <% } %>
                                <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" name="Ausername" placeholder="Create your Username"> </div>
                                <div class="group"> <label for="pass" class="label">Email Address</label> <input id="pass" type="email" class="input" name="Aemail" placeholder="e.g. john@email.com"> </div>
                                <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" name="Apassword" placeholder="Create your password"> </div>
                                <div class="group"> <label for="pass" class="label">Repeat Password</label> <input id="pass" type="password" class="input" data-type="password" name="Arpassword" placeholder="Repeat your password"> </div>
                                <div class="group"> <label for="user" class="label">Location</label> <input id="user" type="text" class="input" name="Alocation" placeholder="Enter Warehouse Location"> </div>
                                <div class="group"> <button type="submit" class="button button1">Sign Up</button> </div>
                                </form>
                            </div>
                        </div>
                        <div class="foot2"><p>Already Registered?<a href="login">  Login</a></p></label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
    </script>
</body>
</html>
