@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
    --header-height: 50px;

    margin: var(--header-heigth) 0 0 0;
    font-family: sans-serif;
    background-color: #edeef6;
}

header {
    text-align: center;
    color: #030f1b;
    font-family: 'Libre Baskerville', serif;
    font-size: 200px;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #747474;
    z-index:1;
    /*display: flex;*/
}



.navi{
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 250px;
    background: #d1a5a5a8;
}

.navi__link{
    display: flex;
    align-items: center;
    color: #413e3e;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
     
}

.navi__link > i {
    margin-right: 15px;
}

.navi__link--active {
    color: #27f8ce;
}

.navi__link--active,
.navi__link:hover {
    background: #8a6f6f;
}

.navi__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);*/
    visibility: hidden;
    opacity: 0;
}

.navi--open .navi__overlay {
    visibility: visible;
    opacity: 1;
}
/* The changes i've made is from here */
.adminprofile {
    margin-left: 300px;
    position: absolute;
    top: 50px;
}
.productadmin {
    margin-left: 300px;
    position: absolute;
    top: 50px;
}
.manageradmin {
    margin-left: 300px;
    position: absolute;
    top: 50px;
}

.adminprofile h1{
    font-family: 'Libre Baskerville', serif;
}
.adminprofile h6{
    /* padding:0%; */
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.productadmin h1{
    font-family: 'Libre Baskerville', serif;
}
.manageradmin h1{
    font-family: 'Libre Baskerville', serif;
}

.input-field {
    display: none;
}


.logout {
    position: absolute;
    top:4px;
    right:4px
}