@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    --header-height: 50px;

    margin: var(--header-heigth) 0 0 0;
    font-family: sans-serif;
}

header {
    text-align: center;
    color: #030f1b;
    font-family: 'Libre Baskerville', serif;
    font-size: 200px;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #747474;
    z-index: 1;
}

.gif {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 60px;
    left: 400px;
}

.gifship {
    position: absolute;
    z-index: -2;
    top: 50px;
    left: 800px;
}

.navi{
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0;
    height: 100vh;
    width: 250px;
    background: #d1a5a5a8;
    z-index: 1;
}

.navi__link{
    display: flex;
    align-items: center;
    color: #413e3e;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
     
}

.navi__link > i {
    margin-right: 15px;
}

.navi__link--active {
    color: #27f8ce;
}

.navi__link--active,
.navi__link:hover {
    background: #8a6f6f;
}

.input-field {
    display: none;
}
.productadmin {
    margin-left: 300px;
    position: absolute;
    top: 50px;
}


.managerprofile {
    margin-left: 300px;
    position: absolute;
    top: 50px;
}

.managerprofile h1{
    font-family: 'Libre Baskerville', serif;
}
.managerprofile h6{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.logout {
    position: absolute;
    top:4px;
    right:4px
}

.section {
    margin-left: 400px;
    position: relative;
    top: 150px;
}
 
.a {
    margin-left: 270px;
    position: absolute;
    top: 50px;
}
.b {
    margin-left: 700px;
    position: absolute;
    top: 50px;
}
.c {
    margin-left: 1100px;
    position: absolute;
    top: 50px;
}
 
.type {
    margin-left: 400px;
    position: relative;
    top: 150px;
}

.sectiontable {
    margin-left: 400px;
    position: relative;
    top: 150px;
}

.a h2 {
    font-family: 'Libre Baskerville', serif;
}


.b h2 {
    font-family: 'Libre Baskerville', serif;
}


.c h2 {
    font-family: 'Libre Baskerville', serif;
}

.section h3 {
    font-family: 'Libre Baskerville', serif;
}

.type h3 {
    font-family: 'Libre Baskerville', serif;
}

.sectiontable {
    font-family: 'Libre Baskerville', serif;
}
.a1 {
    margin-left: 300px;
    position: absolute;
    top: 50px;
}
.a2 {
    margin-left: 300px;
    position: absolute;
    top: 200px;
}
.a3 {
    margin-left: 300px;
    position: absolute;
    top: 350px;
}
.a1 h2 {
    font-family: 'Libre Baskerville', serif;
}
.a2 h2 {
    font-family: 'Libre Baskerville', serif;
}
.a3 h2 {
    font-family: 'Libre Baskerville', serif;
}

.butt {
    margin-left: 300px;
    position: absolute;
    top: 500px;
}
.ship {
    margin-left: 300px;
    position: absolute;
    top: 500px;
}

.status {
    margin-left: 300px;
    position: absolute;
    top: 550px;
}
.status1 {
    margin-left: 300px;
    position: absolute;
    top: 600px;
}